
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
 
  <title>Data</title>
</head>
<body>

  <h1>Timeline Data</h1>
  <ul>
    <form action="/form/<%= user.id %>" method="post">
      <label for="input_<%= user.id %>">add a new message</label>
      <input type="text" name="input" id="input_<%= user.id %>">
      <button type="submit">Submit</button>
    </form>
   
      <% user.forEach(user => { %>
          <li>
              <h2><%= user.name %> - <%= user.createdAt %></h2>
              <h3><%= user.message %></h3>

              
          </li>
      <% }) %>
    <% } else { %>
      <h3>No data</h3>

  </ul>
</body>
</html>